#map

.submission-wrap
  %form#submission-form
    .step#step-fileinput
      %a.btn.btn-primary.btn-block.btn-lg.fileinput-button
        %i.icon-location
        Subir foto
        %input#fileupload-input{type: "file", name: "files", multipe: "" }
    .step#step-locate
      .row
        .col-xs-4
          #upload-preview
        .col-xs-8
          %p Ubicá la foto en el mapa arrastrando el marcador.
          %a.btn.btn-success.btn-lg.btn-block{href: "#"} Listo
    .step#step-upload
      %a.btn.btn-default.btn-block.btn-lg{href: "#"} No, marqué un lugar nuevo
