#map

.submission-wrap
  %form#submission-form{action: "/upload", method: "POST"}
    %input{id: "submission-file", type: "file", name: "photo"}
    %input{id: "submission-lat", type: "hidden", name: 'latitude'}
    %input{id: "submission-lng", type: "hidden", name: 'longitude'}
  .content

%script{id: "choose-file-template", type: "text/template"}
  .step#step-fileinput
    %a#fileinput-button.btn.btn-primary.btn-block.btn-lg
      %i.icon-location
      Subir foto
  %button{id: "submission-cancel"}

%script{id: "show-preview-template", type: "text/template"}
  .step#step-locate
    .row
      .col-xs-4
        #upload-preview
      .col-xs-8
        %p Ubicá la foto en el mapa arrastrando el marcador.
        %button#upload.btn.btn-success.btn-lg.btn-block{type: "submit"} Listo

%script{id: "step-three", type: "text/template"}
  / .step#step-refine
  /   %p 
  /   %a.btn.btn-default.btn-block.btn-lg{href: "#"} No, marqué un lugar nuevo
  .step#step-upload
    .row
      .col-xs-12
        %p Estamos subiendo tu foto al mapa. ¡Gracias por el aporte!
        #upload-progress.progress
          .progress-bar

