<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/application.css">
        <link rel="stylesheet" href="js/vendor/jQuery-File-Upload/css/jquery.fileupload-ui.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        
        <video id="video-bg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">  
            <source src="video/BGvideo.mp4" type="video/mp4">
        </video>

        <div id="video-overlay"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset4">
                    <div class="logo">
                        <img src="img/logo2.png" alt="">
                    </div>
                </div>
            </div>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="http://maps.googleapis.com/maps/api/js?sensor=true&language=es" type="text/javascript"></script>
        <script src="js/vendor/gmap3.js"></script>

        <script src="js/vendor/fuel-ux/wizard.js"></script>

        <script src="js/vendor/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
        <script src="js/vendor/jQuery-File-Upload/js/jquery.fileupload.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
